{% extends 'core/base.html' %}
{% load static %}

{% load static %}


{% block content %}


{% include 'core/partials/_showcase_section.html' %}


<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'index' %}">
                        <i class="fas fa-home"></i> Home</a>
                </li>
                <li class="breadcrumb-item active"> {{ _("Gallary") }}</li>
            </ol>
        </nav>
    </div>
</section>

<section id="gallary" class="py-2">

    <!-- Gallery -->
<div class="row">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img
            src="{% static 'img/bg1.jpg'  %}"
            class="w-100 shadow-1-strong rounded mb-4"
            alt="Boat on Calm Water"
        />

  
        <img
        src="{% static 'img/g1.jpg' %}"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Boat on Calm Water"
    />
    
    </div>
  
    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
    src="{% static 'img/g2.jpg' %}"
    class="w-100 shadow-1-strong rounded mb-4"
    alt="Boat on Calm Water"
/>

  
<img
src="{% static 'img/g3.jpg' %}"
class="w-100 shadow-1-strong rounded mb-4"
alt="Boat on Calm Water"
/>

    </div>
  
    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
    src="{% static 'img/g4.jpg' %}"
    class="w-100 shadow-1-strong rounded mb-4"
    alt="Boat on Calm Water"
    />

  
      <img
    src="{% static 'img/g5.jpg' %}"
    class="w-100 shadow-1-strong rounded mb-4"
    alt="Boat on Calm Water"
    />

    </div>


    <div class="col-lg-4 mb-4 mb-lg-0">
        <img
      src="{% static 'img/g6.jpg' %}"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
      />
  
    
        <img
      src="{% static 'img/g7.jpg' %}"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
      />
  
      </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
        <img
      src="{% static 'img/g8.jpg' %}"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
      />
  
    
        
  
      </div>
  </div>
  <!-- Gallery -->
    

</section>

{% endblock %}
